<div class="centered-content">
    <div class="chat-container has-background-white">
        <h1 class="title has-text-primary">
            Alice and Bob
        </h1>
        <div class="list-menu">
            <a class="list-menu-item-left has-background-light">
                <p>Hey Bob</p>
            </a>
            <a class="list-menu-item-right has-background-light" *ngFor="let message of messages">
                <p>{{ message.title }}</p>
            </a>
            
            <br><br>
            <input #taskTitleInput class="input has-background-light is-medium" type="text"
                placeholder="Enter message...">
            <br>
            <div class="buttons is-centered">
                <button class="button is-medium" routerLink="/">Alice</button>
                <button class="button is-primary has-text-white is-medium" (click)="createMessage(taskTitleInput.value)">Bob</button>
            </div>
        </div>
    </div>
</div>