<div class="centered-content">
    <div class="chat-container has-background-white">
        <h1 class="title has-text-primary">
            Welcome!
        </h1>
        <p>Generate a new chat with a unique url. Don't forget to bookmark and share! </p>
        <div class="list-menu">

            <div class="buttons is-right">
                <button class="button is-primary has-text-white is-medium" (click)="createNewChat()" [routerLink]="['/chat', 4]">Create</button>
            </div>
        </div>
    </div>
</div>